{% extends 'base.html' %}



{% block body %}
<br>
    {% for history in history %}
    <div style="margin-left:100px">
        <a  href="/video/{{history.video_id}}/">
            <h3 style="color:white">{{ history.watch_time }}</h3>
        <table>
            <tr>
            <td rowspan="3" width="182px" height="268px"><img src="/static/images/poster/{{ history.video_id }}.jpg" width="182px" height="268px"></td>
                <td colspan="2" width="600px" height="100px"><h1 style="color:white;margin-left:50px">{{ history.video_title }}</h1><h6 style="color:white;margin-left:50px">Rating : {{ history.rating }}</h6></td>
            </tr>
            <tr>
            <td rowspan="2" colspan="2"  width="600px" height="168px"><h5 style="color:white;margin-left:50px">{{ history.description }}</h5></td>
            </tr>
        </table>
        </a>
    </div><br><br><br>
    {% endfor %}



{% endblock %}