{% extends 'base.html' %}


{% block body %}
<br><br><br>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4" style="color:white;"><b>SORRY!!!</b></h1>
      <p class="lead" style="color:white;">This video have an age restriction of {{ age.age }}<br></p>
</div><br><br>
<a href="/video/"><button type="button" class="btn btn-lg btn-block btn-primary" style="width:300px;margin-left:auto;margin-right:auto;">Back to Homepage</button></a>
{% endblock %}