{% extends 'base.html' %}



{% block body %}
<br>
    {% for trending in trending %}
    <div style="margin-left:100px">
        <a  href="/video/{{trending.video_id}}/">
        <table>
            <tr>
            <td rowspan="3" width="182px" height="268px"><img src="/static/images/poster/{{ trending.video_id }}.jpg" width="182px" height="268px"></td>
                <td colspan="2" width="600px" height="100px"><h1 style="color:white;margin-left:50px">{{ trending.video_title }}</h1><h6 style="color:white;margin-left:50px">Rating : {{ trending.rating }}</h6></td>
            </tr>
            <tr>
            <td rowspan="2" colspan="2"  width="600px" height="168px"><h5 style="color:white;margin-left:50px">{{ trending.description }}</h5></td>
            </tr>
        </table>
        </a>
    </div><br><br><br>
    {% endfor %}



{% endblock %}