<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="static/stylesheets/styles.css">
	<link rel="icon" href="../static/images/icon.bmp" type="image/bmp">
    <title>Amazon Prime Video</title>
</head>
<body class="homepage">

    <div id="homepagetext">
        <h1 style="color:white">Welcome to Prime Video</h1><br>
        <h5 style="color:white;width:500px;">Join Prime Video to watch the latest movies, exclusive TV shows as well as award winning Amazon Originals.</h5><br><br>
        <a href="/user/signup/" class="btn btn-warning" role="button" style="margin-left:100px;"><b>GET STARTED</b></a><br><br><br>
        <p style="color:white">Already a Prime member? <a href="/user/">Log in</a> to watch</p>
        <p style="color:white">If your Prime free trial has expired, you'll be taken to Amazon.in</p>
    </div>

<footer id="homepagefooter">
    <div align="center"><b style="color:white">Amazon Prime inc © 2020</b></div>
</footer>

</body>
</html>